@media (min-width: 320px) and (max-width: 767px) {
  .mprm-container.mprm-shortcode-categories, .mprm-container.mprm-widget-categories {

	&.mprm-view-grid {
	  .mprm-menu-category {
		.mprm-link {
		  .mprm-category-content {
			padding: 2rem;
			i {
			  &.mprm-icon {
				display: none;
			  }
			}
		  }
		}
	  }
	}

	&.mprm-view-list {
	  .mprm-menu-category {
		.mprm-link {
		  img.mprm-category-list-image {
			margin: 0 1em 1em 0;
			max-width: 100px;
		  }
		  .mprm-category-content {
			i {
			  &.mprm-icon {
				display: none;
			  }
			}
		  }
		}
	  }
	}
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .mprm-container.mprm-shortcode-categories, .mprm-container.mprm-widget-categories {

	&.mprm-view-grid {
	  .mprm-menu-category {
		.mprm-link {
		  .mprm-category-content {
			padding: 2em;
			i {
			  &.mprm-icon {
				display: none;
			  }
			}
		  }
		}
	  }
	}

	&.mprm-view-list {
	  .mprm-menu-category {
		.mprm-link {
		  img.mprm-category-list-image {
			float: none;
			margin: 0;
		  }
		  .mprm-category-content {
			width: 100%;
			overflow: visible;
			margin-bottom: @margin-default * 2;
			.mprm-category-description {
			  margin-top: @margin-default;
			}
			i {
			  &.mprm-icon {
				display: none;
			  }
			}
		  }
		}
	  }
	}
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .mprm-container.mprm-shortcode-categories, .mprm-container.mprm-widget-categories {

	&.mprm-view-grid {
	  .mprm-menu-category {
		.mprm-link {
		  .mprm-category-content {
			padding: 2em;
			i {
			  &.mprm-icon {
				display: none;
			  }
			}
		  }
		}
	  }
	}

	&.mprm-view-list {
	  .mprm-menu-category {
		.mprm-link {
		  img.mprm-category-list-image {
			float: none;
			margin: 0;
		  }
		  .mprm-category-content {
			width: 100%;
			overflow: visible;
			margin-bottom: @margin-default * 2;
			.mprm-category-description {
			  margin-top: @margin-default;
			}
			i {
			  &.mprm-icon {
				display: none;
			  }
			}
		  }
		}
	  }
	}
  }
}
