/*Buy button color*/
.mprm-submit.plain {
  padding: 0;
}

.mprm-plugin-styles {
  a.mprm-submit, input.mprm-submit {
	text-decoration: none;
	outline: none;
	box-shadow: none;
	display: inline-block;
	margin: 0;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 4px;
	user-select: none;
	min-height: auto;
	&.gray {
	  color: #333333;
	  background: #f0f0f0;
	  border-color: #cccccc;
	  &:hover,
	  &:focus,
	  &:active {
		color: #333333;
		background: #ebebeb;
		border-color: #adadad;
		background-image: none;
	  }
	}
	&.white {
	  color: #333333;
	  background: @white;
	  border-color: #cccccc;
	  &:hover,
	  &:focus,
	  &:active {
		color: #333333;
		background: #ebebeb;
		border-color: #adadad;
		background-image: none;
	  }
	}
	&.blue {
	  color: @white;
	  background: #428bca;
	  border-color: #357ebd;
	  &:hover,
	  &:focus,
	  &:active {
		color: @white;
		background: #3276b1;
		border-color: #285e8e;
		background-image: none;
	  }
	}
	&.red {
	  color: @white;
	  background: #d9534f;
	  border-color: #d43f3a;
	  &:hover,
	  &:focus,
	  &:active {
		color: @white;
		background: #d2322d;
		border-color: #ac2925;
		background-image: none;
	  }
	}
	&.green {
	  color: @white;
	  background: #5cb85c;
	  border-color: #4cae4c;
	  &:hover,
	  &:focus,
	  &:active {
		color: @white;
		background: #47a447;
		border-color: #398439;
		background-image: none;
	  }
	}
	&.yellow {
	  color: @white;
	  background: #f0ad4e;
	  border-color: #eea236;
	  &:hover,
	  &:focus,
	  &:active {
		color: @white;
		background: #ed9c28;
		border-color: #d58512;
		background-image: none;
	  }
	}
	&.orange {
	  color: @white;
	  background: #ed9c28;
	  border-color: #e3921e;
	  &:hover,
	  &:focus,
	  &:active {
		color: @white;
		background: #e59016;
		border-color: #d58512;
		background-image: none;
	  }
	}
	&.dark-gray {
	  color: @white;
	  background: #363636;
	  border-color: #222;
	  &:hover,
	  &:focus,
	  &:active {
		color: @white;
		background: #333;
		border-color: #adadad;
		background-image: none;
	  }
	}
  }
}

.mprm-cart-added-alert {
  color: #567622;
  display: block;
  position: absolute;
}

#mprm_purchase_form {
  textarea {
	width: 100%;
  }
}

#mprm_checkout_wrap {
  .mprm-required-indicator {
	color: #b94a48;
	display: inline;
  }

  label.mprm-label {
	font-weight: 400;
	display: block;
	position: relative;
	line-height: 100%;
	font-size: 95%;
	margin: 0 0 5px;
  }
  .mprm-description {
	color: #666;
	font-size: 80%;
	display: block;
	margin: 0 0 5px;
  }
}

#mprm_checkout_cart {
  table-layout: auto;
  th {
	padding: 1.387em;
	font-weight: 400;
	border: 1px solid #eee;
	color: #404040;
	background: #fff;
  }
  thead {
	th {
	  background: #fafafa;
	  text-align: left;
	}
  }
  tfoot {
	th {
	  text-align: right;
	  background: #fff;
	}
  }
  td {
	text-align: left;
	border: 1px solid #eee;
	color: #404040;
	background: #fff;
	padding: .5em 1.387em;
	&.mprm_cart_actions {
	  .mprm-item-quantity {
		width: 25%;
	  }
	}
  }
}

#mprm_checkout_form_wrap {
  fieldset {
	border: 1px solid #eee;
	padding: 1.387em;
	margin: 0 0 21px;
	&#mprm_purchase_submit {
	  padding: 0;
	  border: none;
	  #mprm_final_total_wrap {
		background: #fafafa;
		color: #404040;
		padding: .5em 1.387em;
		border: 1px solid #eee;
	  }
	}
  }

}

#mprm-payment-mode-wrap {
  .mprm-gateway-option {
	display: inline-block;
	margin: 0 20px 0 0;
	font-weight: 400;
	position: relative;
	line-height: 100%;
	font-size: 95%;
  }
}

.mprm-payment-icons {
  margin: 0 0 21px;
  .payment-icon {
	max-height: 30px;
  }
}

.mprm-payment-mode-label,
.mprm-payment-details-label,
.mprm-order-details-label {
  font-weight: bold;
  display: block;
  position: relative;
  margin-bottom: 15px;
}

.mprm_cart_item_image {
  display: inline;
  img {
	margin-right: 10px;
	max-width: 75px;
  }
}