@white: #ffffff;
@accent_color: #f2b64e;
@overlay: rgba(70, 70, 70, 0.7);
@padding-default: 4%;

//@import 'theme.less';
@import 'grid.less';
@import 'shortcode.less';
@import 'widget.less';
@import 'menu-item-single.less';
@import 'mp-menu-taxonomy.less';
@import 'shop.less';
@import 'loader.less';

.mprm-clear {
  *zoom: 1;
  &:before,
  &:after {
	display: table;
	content: "";
	line-height: 0;
  }
  &:after {
	clear: both;
  }
}

.mprm-hidden {
  display: none;
  opacity: 0;
}

.mprm-main-wrapper, .mprm-container {
  .mprm-content-container {
	&.mprm-title-big {
	  font-size: 120%;
	}
	margin: 0 0 1rem 0;
  }
  a.mprm-link {
	text-decoration: none;
	outline: none;
	box-shadow: none;
	border: none;
	color: inherit;
	&:focus,
	&:visited,
	&:hover {
	  text-decoration: none;
	  outline: none;
	  box-shadow: none;
	  border: none;
	  color: inherit;
	}
  }

  .mprm_menu_item_buy_button {
	form {
	  a {
		text-decoration: none;
		outline: none;
		box-shadow: none;
		border: none;
		&:focus,
		&:visited,
		&:hover {
		  text-decoration: none;
		  outline: none;
		  box-shadow: none;
		  border: none;
		}
	  }
	}
  }
}

.mprm_widget {
  .mprm-main-wrapper, .mprm-container {
	a.mprm-link {
	  text-decoration: none;
	  outline: none;
	  box-shadow: none;
	  border: none;
	  color: inherit;
	  &:focus,
	  &:visited,
	  &:hover {
		text-decoration: none;
		outline: none;
		box-shadow: none;
		border: none;
		color: inherit;
	  }
	}

	.mprm_menu_item_buy_button {
	  form {
		a {
		  text-decoration: none;
		  outline: none;
		  box-shadow: none;
		  border: none;
		  &:focus,
		  &:visited,
		  &:hover {
			text-decoration: none;
			outline: none;
			box-shadow: none;
			border: none;
		  }
		}
	  }
	}
  }
}

.mprm-container {
  &.mprm-view-simple-list {
	> div[class^="mprm-columns-count-"] {
	  &.mprm-all-items {
		.mprm-simple-view-column {
		  margin-bottom: 0;
		}
	  }
	}

	.mprm-columns-count-1 {
	  column-count: 1;
	  column-gap: 2rem;
	}
	.mprm-columns-count-2 {
	  column-count: 2;
	  column-gap: 2rem;
	}
	.mprm-columns-count-3 {
	  column-count: 3;
	  column-gap: 2rem;
	}
	.mprm-columns-count-4 {
	  column-count: 4;
	  column-gap: 2rem;
	}
	.mprm-columns-count-6 {
	  column-count: 6;
	  column-gap: 2rem;
	}

	.mprm-simple-view-column {
	  display: inline-block;
	  width: 100%;
	  margin-bottom: 2rem;
	  .mprm-columns {
		width: 100%;
	  }
	}
  }
}

@media (max-width: @bp-larger-than-phablet) {
  .mprm-container {
	&.mprm-view-simple-list {
	  > div[class^="mprm-columns-count-"] {
		column-count: auto;
	  }
	  .mprm-simple-view-column {
		margin-bottom: 1rem;
		display: inline-block;
		width: 100%;
	  }
	}
  }
}

.mprm-form-error {
  border-color: #a94442;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.mprm-container {
  margin: 0;
  padding: 0;
  position: relative;
  .mprm-row {
	.hentry {
	  margin: 0;
	  padding: 0;
	}
	padding-bottom: @padding-default;
  }
}

.type-mp_menu_item {
  &.hentry {
	.mprm-related-items {
	  span {
		display: inline-block;
	  }
	}
  }
}

.mprm-main-wrapper, .mprm-container {

  .mprm-list {
	&.mprm-flex-container-simple-view {
	  margin: 0;
	  padding: 0;
	}
	list-style: outside none none;
	li.mprm-tag {
	  display: inline-block;
	}
	.mprm-ingredient, .mprm-ingredients-delimiter {
	  margin: 0;
	  display: inline-block;
	}
	.mprm-proportion {
	  display: list-item;
	  font-style: italic;
	  margin: 0;
	}
	.mprm-ingredients-delimiter {
	  margin: 0;
	}
	.mprm-ingredients-delimiter {
	  &:last-child {
		display: none;
	  }
	}
  }
  .mprm-price {
	font-weight: bold;
  }
  .mprm-tags {
	.mprm-tag {
	  border: 1px solid #606060;
	  padding: 0 0.5em;
	  display: inline-block;
	  margin-top: 0.5em;
	}
  }
}